.box{
    margin: 15px;
    margin-top: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    background-color: white;
}
.headshot{
    width:100px;
    height: 120px;
    margin:50px;
    border-radius: 50%;
}
body{
    background-color: rgba(54, 54, 54, 0.19);
    color:black;
    padding: 5px;
}

.carousel-inner{
    height:  100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.workImage{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.part-header{
    background-color: rgba(47, 111, 231, 0.801);
    
   
}

.skillImg{
    max-width: 25%; 
    margin: 15px;
    
}